* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: white;
}

header {
    background-color: pink;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    background-color: orange;
    height: 100%;
    width: 300px;
}

.nav-right {
    background-color: lightblue;
    height: 100%;
    width: 900px;
    display: inline-block;
}

.nav-right ul {
    list-style-type: none;
}

.nav-right ul li {
    display: inline-block;
}

.nav-right ul li a {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    position: absolute;
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    /* position: absolute; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 50px;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    padding: 5px;
    display: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu.active {
    display: block;
}
